@import "./button.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(90deg, #000000 0%, #241b2c 25%, #3b2b4b 75%, #6d5e7c 100%);

}

.d-block {
    display: block;
}

.w-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}
